name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Upgrade pip
      run: |
        python -m pip install --upgrade pip
    - name: Lint (flake8)
      run: |
        pip install flake8
        flake8 --count --show-source --statistics
    - name: Lint (mypy)
      run: |
        pip install mypy
        mypy .
    - name: Lint (pylint)
      run: |
        pip install pylint
        # Ignore missing documentation
        pylint **/*.py --disable=C0114 --disable=C0115 --disable=C0116
    - name: Test
      run: |
        pip install pytest
        pip install pytest-cov
        pytest --cov=
    - name: System Test
      run: |
        cd system_test/complex && make clean && make
